<html xmlns="http://www.w3.org/1999/xhtml" style="visibility: visible;">
    <head>
        <meta name="viewport" content="initial-scale=1.0"/>
        <meta name="description" content="Salesforce 客户安全登录页面。登录到您的 Salesforce 客户帐户。" />
        <title> 登录 | Salesforce</title> 
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" type="text/css" href="/css/sfdc_204.css" />
        <style type="text/css">html{visibility: hidden;}a{color:#0070d2;}body{background-color:#F4F6F9;}#content,.container{background-color:#ffffff;}#header{color:#16325c;}body{display: table; width:100%;}#content{margin-bottom:24px;}#wrap{height:100%;}
        </style>
        <style type="text/css"> html { visibility: hidden; } </style>
        <script type="text/javascript">if (self == top) {document.documentElement.style.visibility = 'visible';} else {document.write = ''; top.location = self.location; setTimeout(function(){document.body.innerHTML='';}, 1);window.self.onload=function(evt){document.body.innerHTML='';};} </script>
        <script>var SFDCSessionVars={"server":"https://login.salesforce.com/login/sessionserver204.html","im":false,"ah":"已启用","save":"保存","saveOne":"保存 1 个更改","sum":"#p# 个已保存用户名","iaac":false,"hac":"选择用户名","suo":"1 个已保存用户名","title":" | Salesforce","saveMany":"保存 #p# 个更改","lpt":"登录","lllbl":"Lightning Login","host":"login.salesforce.com","le":false,"heu":"编辑用户名列表","ic":false,"lh":false,"hidp":"登录使用","ih":"未启用","dc":"用户名已删除。单击“保存”，以提交更改。"}; </script>
        <script src="/jslibrary/SfdcSessionBase204.js"> </script>
        <script src="/jslibrary/LoginHint204.js"> </script>
        <script>LoginHint.hideLoginForm(); </script>
        <link rel="canonical" href="https://login.salesforce.com/?locale=cn"/>
    </head>
    
    <body onload="lazyload();">
    <div id="left" class="pr">
        <div id="wrap">
            <div id="main">
                <div id="wrapper">
                    
                    <div id="logo_wrapper" class="standard_logo_wrapper mb24">
                        <h1 style="height: 100%; display: table-cell; vertical-align: bottom;">
                            <img id="logo" class="standard_logo" src="/img/logo198.png" alt="Salesforce" border="0" name="logo">
                        </h1>
                    </div>
                    <div id="header" class="mb24"> </div>
                    
<div id="content">
    <div id="chooser" style="display: none">
        <div class="loginError" id="chooser_error" style="display:none;"> </div>
        <div>
            <span id="chooser_label" class="label"> </span>
            <a href="javascript:void(0);" id="edit" class="fr small" onclick="LoginHint.showEdit();">编辑列表 </a>
        </div>
        <div class="scrollable mt8"> <ul id="idlist"> </ul> </div>
    </div>
    <div id="manager" style="display: none">
        <div class="nonscrollable mt8">
            <ul id="editlist" class="mb24" aria-live="polite" aria-relevant="additions removals"> </ul>
        </div>
        <div class="mt16">
            <button class="button primary fiftyfifty right" id="hint_save_edit" name="Save" onclick="LoginHint.saveHintEdit();">保存 </button>
            <button class="button secondary fiftyfifty" id="hint_back_edit" name="Cancel" onclick="LoginHint.showChooser();">取消 </button>
        </div>
    </div>

<div id="theloginform">
<form name="login" method="post" id="login_form" onsubmit="handleLogin();" action="https://login.salesforce.com/" target="_top" autocomplete="off" novalidate="novalidate">
                                                                                                
<input type="hidden" name="un" id="un_hfid" value="" />
<input type="hidden" name="width" value="" />
<input type="hidden" name="height" value="" />
<input type="hidden" name="hasRememberUn" value="true" />
<input type="hidden" id="login_startUrl" name="startURL" value="" />
<input type="hidden" name="loginURL" value="" />
<input type="hidden" name="loginType" value="" />
<input type="hidden" name="useSecure" value="true" />
<input type="hidden" name="local" value="" />
<input type="hidden" name="lt" value="standard" />
<input type="hidden" name="qs" value="r=https%3A%2F%2Fwww.google.co.jp%2F" />
<input type="hidden" name="locale" value="cn" />
<input type="hidden" name="oauth_token" value="" />
<input type="hidden" name="oauth_callback" value="" />
<input type="hidden" name="login" value="" />
<input type="hidden" name="serverid" value="" />
<input type="hidden" name="display" value="page" /></fieldset>

<div id="usernamegroup" class="inputgroup">
    <label for="username" class="label">用户名 </label>
    <div id="username_container">
        <div id="idcard-container" class="mt8 mb16" style="display: none">
            <div id="idcard">
                <img id="idcard-avatar" class="avatar" alt="">
                <a href="javascript:void(0);" id="clear_link" class="clearlink" onclick="LoginHint.clearExistingIdentity();">
                    <img alt="使用其他用户名登录" class="clearicon" src="/img/clear.png">
                </a>
                <span id="idcard-identity"> </span>
            </div>
    	</div>
    	<input class="input r4 wide mb16 mt8 username" type="email" value="" name="username" id="username">
	</div>
</div>

    <label for="password" class="label">密码 </label>
    <input class="input r4 wide mb16 mt8 password" type="password" id="password" name="pw" onkeypress="checkCaps(event)" autocomplete="off"/>
    <div id="pwcaps" class="mb16" style="display:none">
        <img id="pwcapsicon" alt="打开了 Caps Lock。" width="12"/> 打开了 Caps Lock。
    </div>
    <input class="button r4 wide primary" type="submit" id="Login" name="Login" value="登录" />
    <div class="w0 pr ln3 p16 remember">
        <input type="checkbox" class="r4 fl mr8" style="" id="rememberUn" name="rememberUn">
        <label for="rememberUn" class="fl pr db tn3">记住我 </label>
        <br>
    </div>

	</form>
	<div class="w0 links bt pt16 mb20">
		<a id="forgot_password_link" class="fl small" href="/secur/forgotpassword.jsp?locale=cn&lqs=">忘记了密码？ </a>
		<a id="mydomainLink" class="fr small" href="javascript:void(0);" onclick="DomainSwitcher.enterCustomDomain('试用自定义域',' | Salesforce')">试用自定义域 </a>
	</div>
</div>

	<div id="mydomainContainer" style="display:none;">
        <p class="mb16">要转到贵公司的登录页面，请输入自定义域名。 </p>
        <form onsubmit="DomainSwitcher.handleMyDomain();return false;">
            <label for="mydomain" class="label">客户域 </label>
            <input type="text" class="input wide focus mt8 mb16" name="mydomain" id="mydomain" onkeyup="DomainSwitcher.updateMyDomain(this, event);"/>
            <div id="mydomain_preview" class="mb16 wordwrap">https:// <em>domain </em>.my.salesforce.com </div>
        </form>
        <input type="hidden" id="mydomain_suffix" value=".my.salesforce.com"/>
        <input type="hidden" id="community_suffix" value=".ap3.force.com"/>
        <button class="button primary fiftyfifty right" id="mydomainContinue" name="Continue" onclick="DomainSwitcher.handleMyDomain();">继续 </button>
        <button class="button secondary fiftyfifty" id="hint_back_domain" onclick="DomainSwitcher.dismissCustomDomain('登录',' | Salesforce');">返回 </button>
	</div>

	</div>

	<div id="signup" class="tc mt24">
        <p class="di mr16">不是客户？ </p>
        <a class="button secondary" id="signup_link" href="https://www.salesforce.com/cn/form/trial/freetrial.jsp?d=70130000000EndO">免费试用 </a>
	</div>
	<div class="tc" id="use_new_identity_div" style="display:none;">
        <a id="use_new_identity" href="javascript:void(0);" onclick="LoginHint.useNewIdentity();">使用其他用户名登录 </a>
	</div>

	</div>
	</div>
	</div>
	<div id="footer">&copy; 2016 salesforce.com, inc. 保留所有权利。
	</div>
	</div>
	<div id="right">
		<iframe frameborder="0" src="/s.gif" id="marketing" name="marketing" scrolling="no" title="Marketing" tabindex="-1"sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts" > </iframe>
	</div>
	<div aria-live="polite" aria-atomic="true" class="zen-assistiveText" style="width:0px;height:0px;" id="assistive-announce">登录 </div>

	<script>LoginHint.getSavedIdentities(false); </script>
	<script src="/jslibrary/baselogin2.js"> </script>
	<script src="/jslibrary/LoginMarketingSurveyResponse.js"> </script>
	<script>function handleLogin(){document.login.un.value=document.login.username.value;document.login.width.value=screen.width;document.login.height.value=screen.height;}function lazyload(){document.getElementById("pwcapsicon").src="/img/icon/capslock_blue.png";document.getElementById("marketing").src="https://c.salesforce.com/login-messages/cn/promos.html?r=https%3A%2F%2Fwww.google.co.jp%2F";}loader(); </script>
</body>
</html>
