<html xmlns="http://www.w3.org/1999/xhtml" style="visibility: visible;">
    <head>
        <title>login Mr. Niu's space</title>
        <link rel="stylesheet" type="text/css" href="../css/all.css" />
   </head>
    <body>

        <div id="wraper" >
            <div id="w1">
                <a style="display:inline-block;margin-top:10px;margin-left:5px;font-family:Arial;font-size:large;font-weight:bold;">Log In</a> 
            </div>
            <div id="w2">
                <form name="login" method="post" id="login_form" >
                <label for="username" class="label">username</label>
                <input class="input username" type="email" value="" name="username" id="username">
                <label for="username" class="label">password</label>
                <input class="input password" type="password" id="password" name="pw" autocomplete="off">
                <p>
                <span id="remespan">
                    <input id="rememberme" type="radio"></input>
                    <label id="rememberme">Remember me next time</label>
                </span>
            </div>
            <div id="w3">
                <input class="button" type="submit" id="Login" name="Login" value="login">
                <a style="font-family:Arial;font-size:small;">or</a>
                <a id="hlnkNewuser" href="signup"> Sign up as New user</a>
                </form> 
            </div>
        </div>

    </body>
</html>
